@import '../base/variables';

/* Buttons */
.button {
    display: inline-block;
    background-color: $color-btn;
    color: $text-btn;
    padding: $padding-btn;
    border-radius: $radius-btn;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1em;

    &:hover {
        background: #fff;
        color: $color-primary;
        box-shadow: 0px 0px 0px 3px #F12170 inset;
    }
}
