@import '../base/variables';

/* Cards */

.cards {
    background: #f3f0f0;
}

.card_copy {
    margin-top: 20px;
}

.card_container {
    width: 99%;
    margin: 0 auto;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    grid-template-areas: 
    ".      card1 .    "
    "card2  card1 card3"
    "card2  card4 card3"
    ".      card4 .    ";
}

.card_item {
    padding: 20px;
    background: #fff;
    border-top: 5px solid $color-secondary;
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_img {
    background: var(color-secondary);
    margin-top: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_title {
    margin: 20px 0;
    font-size: 1.5em;
}

.card_paragraph {
    font-weight: 400;
    margin-bottom: 20px;
}

.card_item:nth-last-of-type(1) {
    grid-area: card1;
}

.card_item:nth-last-of-type(2) {
    grid-area: card2;
}

.card_item:nth-last-of-type(3) {
    grid-area: card3;
}

.card_item:nth-last-of-type(4) {
    grid-area: card4;
}