@import '../base/variables';

/* Marina */

.marina {
    text-align: center;
    border-bottom: 2px solid #9BA7C0;
    $padding-container: 20px 0 60px;
}

.marina_container {
    width: 70%;
    margin: 0 auto;
}

.marina_name {
    margin: 20px 0;
}

.marina_tag {
    font-weight: 700;
    color: $color-primary;
    margin-bottom: 20px;
}

.marina_paragraph {
    text-align: left;
    line-height: 1.5;
    color: #474647;
}

.marina_img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}