

$color-primary: #F12170;
$color-secondary: #6635d8;
$color-title: #000;
$align-title: left;
$padding-container: 6em 0;
$width-container: 90%;
$max-width-container: 75em;
$color-btn: #F12170;
$text-btn: #fff;
$padding-btn: 1em 2em;
$radius-btn: 30px;
$height-bg-shape: 18em;